@{
    ViewData["Title"] = "City Page";
}

@model IEnumerable<Comment>

<h2>Comment Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Reply)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ReplyingId)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reply)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReplyingId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CommentId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CommentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>