@{
    ViewData["Title"] = "Orderdtl Page";
}

@model IEnumerable<OrderDtl>

<h2>Orderdtl Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderdetailId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderdetailId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h1>Product Quantities</h1>

<table>
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Total Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </tbody>
</table>